<!--The content below is only a placeholder and can be replaced.-->

<div class="#column-container">
  <div id="main-title">
    <h1>
      Welcome to {{title}}!
    </h1>
    <img id="logo" src="assets/cyberus.png"/>
  </div>
  <div class="row-container">
    <div id="video-section">
      <div id="video-frame">
        <!-- Add video UI elements here -->
      </div>
    </div>
    <div id="bot-section">
      <div id="bot-frame">
        <!-- Add bot UI elements here -->
      </div>
    </div>
  </div>
</div>